.attendance{
    min-height: calc(95vh - 80px);
    background: #F0EFF2;
    display: flex;
    flex-direction: column;
    padding-top: 220px;
    align-items: center;
}

.attendance__state {
    background: #C8C8C8;
    width: 100px;
    height: 40px;
    margin-bottom: 25px;
    border-radius: 50px;
    color: #696969;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attendance__date {
    font-size: 40px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.attendance__time {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 65px;
    letter-spacing: 5px;
}

.attendance__action {
    display: flex;
    gap: 100px;
}

.attendance__button {
    width: 221px;
    height: 77px;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 5px;
}

.attendance__button--main {
    background: #000;
    color: #FFF;
}

.attendance__button--sub {
    background: #FFF;
    color: #000;
}

.attendance__done {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 4px;
}