body {
    font-family: 'Inter', 'Noto Sans JP', sans-serif;
}

.content {
    max-width: 1540px;
    margin: 0 auto;
}

.header {
    max-width: 1540px;
    margin: 0 auto;
    background: #000;
    color: #FFF;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 30px;
    position: static;
    top: 0;
}

.header__logo {
    width: 370px;
    height: fit-content;
}

.register-form,
.login-form {
    max-width: 680px;
    width: 100%;
    margin: 0 auto;
    padding: 80px 0;
}

.page__title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.form__label {
    display: block;
    font-size: 24px;
    font-weight: 700;
    margin-top: 35px;
}

.form__input {
    width: 100%;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 0 20px;
    font-size: 24px;
    margin-top: 5px;
}

.form__button {
    width: 100%;
    height: 60px;
    margin-top: 100px;
    background: #000;
    color: #FFF;
    font-size: 26px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.link {
    display: block;
    margin-top: 30px;
    color: #0073CC;
    font-size: 20px;
    text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .register-form,
    .login-form {
        max-width: 550px;
    }

}