.correction-request {
    min-height: calc(100vh - 80px);
    padding: 90px 60px;
    background: #F0EFF2;
}

/* タイトル */
.correction-request__title {
    width: 900px;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 60px;
    padding-left: 20px;
    border-left: 8px solid #000;
}

/* タブ */
.correction-request__tab {
    width: 900px;
    margin: 0 auto;
    padding-left: 60px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}

.correction-request__tab-list {
    list-style: none;
    display: flex;
    gap: 100px;
}

.correction-request__tab-link {
    font-size: 16px;
    letter-spacing: 2.4px;
    color: #000;
}

.correction-request__tab-link.is-active {
    font-weight: 700;
}

.correction-request__table-inner {
    width: 900px;
    margin: 0 auto;
    margin-top: 40px;
    background: #FFF;
    border-radius: 10px;
}

.correction-request__table {
    width: 100%;
    table-layout: fixed;
    color: #737373;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2.4px;
    padding: 0 30px;
}

.correction-request__table th {
    padding: 8px;
    border-bottom: 3px solid #E1E1E1;
}

.correction-request__table td {
    padding: 10px;
    border-top: 2px solid #E1E1E1;
}

.correction-request__table th,
.correction-request__table td {
    text-align: left;
}

.correction-request__table th:first-child,
.correction-request__table td:first-child {
    text-align: center;
}

.correction-request__table th:nth-of-type(2),
.correction-request__table td:nth-of-type(2) {
    padding-left: 30px;
}

.correction-request__table td:nth-of-type(3),
.correction-request__table td:nth-of-type(5) {
    letter-spacing: 0;
}

.correction-request__link {
    color: #000;
}