.attendance-detail {
    min-height: calc(95vh - 80px);
    padding: 90px 60px;
    background: #F0EFF2;
}

/* タイトル */
.attendance-detail__title {
    width: 900px;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 46px;
    padding-left: 20px;
    border-left: 8px solid #000;
}

/* 勤務詳細 */
.attendance-detail__card {
    width: 900px;
    margin: 0 auto;
    background: #FFF;
    border-radius: 10px;
}

/* 1行 */
.attendance-detail__row {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #E1E1E1;
    padding: 31px 60px;
}

.attendance-detail__row:first-child{
    padding: 35px 60px 20px;
}

.attendance-detail__row:last-of-type {
    padding: 15px 60px;
    border-bottom: none;
}

/* 左ラベル */
.attendance-detail__term {
    width: 270px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2.5px;
    color: #737373;
}

/* 右データ */
.attendance-detail__data{
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2.4px;
}

.attendance-detail__row:nth-of-type(-n+2)
.attendance-detail__data {
    margin-left: 25px;
}

.attendance-detail__data-row {
    display: flex;
    gap: 50px;
}

.attendance-detail__data-year {
    padding-right: 135px;
}

.attendance-detail__time-input {
    width: 100px;
    height: 30px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2.5px;
}

.attendance-detail__time-text {
    display: flex;
    width: 105px;
    justify-content: center;
}

/* 備考入力 */
.attendance-detail__remark-text {
    width: 316px;
    height: 70px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
}

/* 修正ボタン */
.attendance-detail__button {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
}

.attendance-detail__form-button {
    margin-top: 35px;
    width: 130px;
    height: 50px;
    line-height: 1;
    background: #000;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 3.3px;
    cursor: pointer;
}

.attendance-detail__form-message {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 2.7px;
    color: #FF000080;
}

/* エラーメッセージ */
.form__error {
    font-size: 14px;
    color: #F00;
}

/* レスポンシブデザイン */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .attendance-detail__title {
        width: 600px;
    }

    .attendance-detail__card {
        width: 600px;
    }

    .attendance-detail__row {
        padding: 31px 40px;
    }

    .attendance-detail__row:first-child {
        padding: 35px 40px 20px;
    }

    .attendance-detail__row:last-of-type {
        padding: 15px 40px;
    }

    .attendance-detail__term {
        width: 170px;
    }

    .attendance-detail__row:nth-of-type(-n+2)
    .attendance-detail__data {
        margin-left: 18px;
    }

    .attendance-detail__data-row {
        gap: 40px;
    }

    .attendance-detail__data-year {
        padding-right: 120px;
    }

    .attendance-detail__button {
        width: 600px;
    }
}
